body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

.navleft {
    width: 68% !important;
}

.navright {
    width: 32% !important;
}

.navbar-brand img:last-child {
    bottom: 20px;
    right: -8px;
}

.navleft a {
    font-size: 14px;
    color: black !important;
}

.phone {
    text-decoration: none;
}

.fa-phone-alt {
    font-size: 14px !important;
    padding-right: 9px;
}

.buy {
    font-size: 16px;
}

.navbar-dark .navbar-toggler {
    color: rgb(255, 255, 255) !important;
    border-color: rgb(255, 255, 255) !important;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-nav {
    right: 0;
}

.background {
    z-index: 0;
}

.background-1 {
    background-image: url(../images/boxwhite.png);
    width: 65.28662420382165%;
}

.background-2 {
    background-image: url(../images/Boxred.png);
    width: 34.71337579617834%;
}

.background-2::before {
    content: "MARS";
    font-size: 244px;
    font-weight: bold;
    transform: rotate(90deg);
    color: #fe343d;
    text-shadow: #d32b33 5px 0px 20px;
    position: absolute;
    top: 140px;
    left: 0;
}

.carousel-div {
    top: 50%;
    right: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    height: 490px !important;
}

.carousel::before {
    content: "Schroll down";
    position: absolute;
    bottom: 16px;
    left: -50px;
    font-size: 18px;
    font-weight: bold;
    transform: rotate(-90deg);
}

.carousel-indicators {
    padding-right: 71px;
}

.carousel-indicators button {
    border-radius: 50% !important;
    height: 7px !important;
    width: 7px !important;
    margin-bottom: 19px !important;
    background-color: #e1e1e1 !important;
}

.carousel-indicators .active {
    background-color: red !important;
}

.carousel-caption {
    position: static !important;
    color: black;
    text-align: left;
    width: 38% !important;
}

p {
    font-size: 14px;
}

h2 {
    font-size: 60px;
}

.carousel-item-div {
    position: relative;
    z-index: 0;
}

.carousel-item-div::before {
    content: "";
    background-image: url(../images/Circle.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
    left: 63%;
    width: 326px;
    height: 326px;
    z-index: -1;
}

.dron {
    top: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
    left: 63%;
}

.section-1 {
    height: 384px;
}

.left {
    width: 33%;
    padding-left: 66px !important;
    background-image: url(../images/dron-2.png);
    background-size: cover;
    z-index: 1;
}

.left::before {
    content: "";
    background-image: url(../images/puls.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    right: -113px;
    bottom: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 380px;
    width: 50%;
    z-index: -1;
}

.right {
    width: 67%;
    background-image: url(../images/road.png);
    background-size: cover;
    z-index: 1;
    text-align: left !important;
    padding-left: 88px;
}

.right h2 {
    width: 40%;
}

.right::before {
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.514);
    left: 0;
    top: 0;
    height: 380px;
    width: 50%;
    z-index: -1;
}

.section-2-tp {
    height: 192px !important;
}

.section-2 {
    padding-bottom: 50px;
}

h3 {
    font-size: 30px;
    padding: 45px 0px;
}

h4 {
    font-size: 48px;
    padding: 126px 0px;
}

.section-3-left {
    width: 649.5821656050955px;
}

.section-3-right {
    background-image: url(../images/section3-2.png);
    background-size: cover;
    z-index: 1;
    padding-left: 83px;
    width: 699.4178343949045px;
}

.section-3-right::before {
    content: "";
    background-image: url(../images/Icon.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    right: -220px;
    bottom: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 80%;
    width: 50%;
    z-index: -1;
}

h6 {
    font-size: 92px;
}

h6 span {
    color: #ff343d
}

.section-4-div {
    z-index: 1;
}

.section-4 {
    z-index: 0;
}

.section-4::before {
    content: "";
    background-image: url(../images/Dron.png);
    background-size: contain;
    position: absolute;
    background-repeat: no-repeat;
    top: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
    right: -700px;
    height: 70%;
    width: 70%;
    z-index: -1;
}

.section-4-btn , .section-3-btn, .section-1-btn {
    font-size: 18px;
    padding: 20px 36px;
}

.section-3-btn, .section-4-btn {
    margin-bottom: 70px !important;
}

.section-4-btn , .section-3-btn {
    margin-top: 64px;
}

.section-4-btn {
    border-color: #cbcbcc !important;
}

.section-1-btn {
    right: 63px !important;
    transform: rotate(-90deg);
}

hr {
    position: absolute;
    right: 100px !important;
    bottom: 0;
    transform: rotate(90deg);
    background-color: white !important;
    border: 1px white solid !;
    width: 100.5px;
    opacity: 1;
}

.section-5 {
    background-image: url(../images/sea.png);
    background-size: cover;
    background-position: center;
    padding-bottom: 50px;
}

.section-5 button {
    border: none !important;
    color: #318f76;
}

footer {
    height: 384px;
    position: relative;
    z-index: 0;
    overflow: hidden;
}

footer::before {
    content: "PHANTOM";
    font-size: 244px;
    font-weight: bold;
    color: white;
    text-shadow: #e2e2e2 5px 0px 20px;
    position: absolute;
    z-index: -1;
}

footer p {
    padding-top: 36px;
}

footer .navbar-brand img:last-child {
    bottom: 23px;
    right: -11px;
}





