body {
    margin: 0;
    position: relative;
}

* {
    box-sizing: border-box;
}

.pop {
    position: absolute;
    left: 50%;
    top: 50vh;
    transform: translate(-50%, -50%);
    padding: 13px 43px;
    border: none;
    background-color: crimson;
    color: white;
}

.popup {
    display: none;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.315);
}

.modal-div {
    width: 470px;
    height: 240px;
    background-color: white;
    text-align: center;
    padding: 50px;
    animation: pop;
    animation-duration: 0.8s;
}

@keyframes pop {
    from {opacity: 0;}
    top {opacity: 1;}
}

.popoff {
    padding: 13px 43px;
    border: none;
    background-color: crimson;
    color: white;
}