body {margin: auto; padding: 70px 0px; font-family: 'Roboto', sans-serif;}
* {box-sizing: border-box;}

.card {width: 30%;
    margin: auto;
    box-shadow: 3px 3px 15px rgb(192, 190, 190);}
    
    .image {width: 100%; 
        display: flex; 
        position: relative;}
        
        img {width: 100%;}
        
        span {position: absolute; bottom: 0; left: 0; 
        padding: 10px 15px;
        background-color: #ffc107; color: white;}

        i {position: absolute; top: 20px; right: 20px;
        color:#ffc107; font-size: 60px;}
            
        #date {position: absolute; top: 23px; right: 23px;
        z-index: 1;
        color: white; font-size: 15px;
    }

    .textbox {padding: 10px 20px;}
    
    small {color: red;}

    p {line-height: 1.5;}
    
    button {padding: 12px 20px; border-radius: 5px; border: none;
    background-color: #ffc107; color: white;}

