@font-face {
    font-family: 'Itim', cursive;;
    src: url(/fonts/Itim-Regular.ttf);
}

body {margin: 0; 
    padding: 128px 50px;
    background-color: black;
}

*{box-sizing: border-box;}

/* IMAGE_DIV */
.main {width: 70%;  
    margin: 0 auto;
    background-image: url(/images/alfi.png);
    background-position: center;
    background-size: cover;}
    
    /* Container for heading's div */
    .hcontainer {width: 100%;}
        
        /* divs for headings */
        .hcontainer>div {padding: 25px 10px;
            text-align: right;
        }
            
            h1 {width:100%;
                display: inline;
                font-size: 60px;
                font-family: 'Itim', cursive;
                color: rgb(10, 111, 179);
                background-color: rgba(255, 255, 255, 0.658);
            }
