@mixin  colorbtn () {
    background-color: #0020ff;
    width: 100%;
    color:white;
    padding: 13px;
    outline: none;
    border: none;
    margin: 15px 0px;
}

@mixin ibtn () {
    text-align: center;
    color: white;
    font-size: 18px;
    padding: 16px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

@mixin email {
    width: 100%;
    background-color: #eff1ff;
    padding: 13px;
    outline: none;
    border:none;
}

@mixin text {
    width: 100%;
    background-color: #eff1ff;
    padding: 18px;
    outline: none;
    border:none;
    border-radius: 5px;
}

@mixin isearch () {
    position: absolute;
    font-size: 20px;
    top: 36px;
    right: 80px;
}

@mixin ifilter () {
    position: absolute;
    color: white;
    width: 50px;
    text-align: center;
    padding: 13px;
    height: 50px;
    font-size: 25px;
    right: 20px;
}