h1 {font-weight:normal;}

body {padding: 100px 200px;}

table, tr, td {border: solid 1px rgb(189, 188, 188);
    border-collapse: collapse;
    padding: 10px;
}

td {width:400px;}

input {width: 500px;
    height: 20px;
    border-radius: 5px;
    border: solid 1px rgb(189, 188, 188)
}

textarea {width: 500px;
    height: 20px;
    border-radius: 5px;
    border: solid 1px rgb(189, 188, 188);}

button {background-color: rgb(15, 142, 228);
    border:rgb(15, 142, 228) solid 1px;
    padding: 5px;
    border-radius: 5px;
    color: white;
}

i {margin:3px;}