body {margin:0px 300px auto;
border: solid 15px rgb(201, 201, 201);}

section {margin: 20px;}

h4 {color: cornflowerblue;}

h1 {font-family: 'Nunito', sans-serif;}

p {font-family: 'Nunito', sans-serif;}

#side {border-left: solid 10px rgb(201, 201, 201);
padding-left: 5px;}